<div
  id="capturas"
  class="container py-3 my-3 shadow border-top border-bottom border-primary"
  data-aos="fade-right"
  data-aos-duration="1000"
  data-aos-delay="500"
  data-aos-once="true">
  <h2 class="title text-center">
    <i class="fas fa-camera"></i> Capturas del juego
  </h2>
  <hr>
  <div class="row">
    <div class="col-md-4 pb-2">
      <img class="img-fluid" src="/assets/img/screenshots/screen1.png">
    </div>
    <div class="col-md-4 pb-2">
      <img class="img-fluid" src="/assets/img/screenshots/screen2.png">
    </div>
    <div class="col-md-4 pb-2">
      <img class="img-fluid" src="/assets/img/screenshots/screen3.png">
    </div>
    <div class="col-md-4 pb-2">
      <img class="img-fluid" src="/assets/img/screenshots/screen4.png">
    </div>
    <div class="col-md-4 pb-2">
      <img class="img-fluid" src="/assets/img/screenshots/screen5.png">
    </div>
    <div class="col-md-4 pb-2">
      <img class="img-fluid" src="/assets/img/screenshots/screen6.png">
    </div>
  </div>
</div>
