<div
  id="descargar"
  class="container py-3 my-3 shadow border-top border-bottom border-primary"
  data-aos="fade-right"
  data-aos-duration="1000"
  data-aos-offset="120"
  data-aos-once="false">
  <h2 class="title text-center">
    <i class="fas fa-download"></i> Descargar
  </h2>
  <hr>
  <div class="d-flex justify-content-center">
    <a class="btn btn-primary btn-lg" role="button" href="/assets/download/healthy-catching.apk">
      <i class="fas fa-download"></i> Descargar Healthy Catching
    </a>
  </div>
</div>
